
<button onclick="loadDoc()">Get Your CD</button>
<br/>
<br/>
<table id = 'demo'></table>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates temporibus illum corporis ducimus corrupti, aspernatur odit ad! Ratione, iste! Odio ullam rerum accusantium dolore, dicta tempore aliquid ad cupiditate quos.
</p>
